.tabler-contianer {
    width: 100%;
    position: relative;
}

.tabler-transition {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.tabler-table {
    width: 100%;
    border: none;
}

.tabler-table td{
    height: 20px;
    border: 1px solid #f5f5f5;
    box-sizing: border-box; 
    cursor: text;
}

.tabler-table td:hover {
    border-color: #999;
}

.tabler-toolbar {
    width: 100%;
    height: 24px;
    background-color: #f5f5f5;
}

.tabler-toolbar__action {
    float: left;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.tabler-toolbar__action:hover {
    background-color: #f5f5f5;
}

.tabler-toolbar__actioin:first {
    
}