html,body {
    margin: 0px;
    padding: 0px;
}

div[class*="tabler-"] {
    box-sizing: border-box;
    margin: 0px;
}

.tabler-contianer {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 20px 40px 20px;
    float: left;
    background-color: #ededed;
    text-align: center;
}

.tabler-primary-width {
    position: absolute;
    top: 80px;
    width: 
}

.tabler-transition {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.tabler-table {
    width: 100%;
    border: none;
}

.tabler-table td{
    height: 20px;
    border-top:0px;
    border-right: 0px;
    border-bottom: 1px dashed #f5f5f5;
    border-left: 1px dashed #f5f5f5;
    outline: 0px solid #e7e7e7;
    box-sizing: border-box; 
}

.tabler-table tr td:hover {
    outline: 1px solid #e7e7e7;
}

.tabler-toolbar {
    width: 100%;
    height: 30px;
    background-color: #fff;
    box-shadow: 0.5px 0.866px 2px 0px rgba( 0, 0, 0 ,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
}


.tabler-toolbar__action {
    float: left;
    width: 30px;
    height: 29px;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.tabler-toolbar__action:hover {
    background-color: #f5f5f5;
}

.tabler-toolbar__action[data-tabler-toolbar-action="addRowDown"] {
    background-image: url('../icons/add-row-down.png')
}

.tabler-toolbar__action[data-tabler-toolbar-action="addRowUp"] {
    background-image: url('../icons/add-row-up.png')
}

.tabler-toolbar__action[data-tabler-toolbar-action="addColLeft"] {
    background-image: url('../icons/add-col-left.png')
}

.tabler-toolbar__action[data-tabler-toolbar-action="addColRight"] {
    background-image: url('../icons/add-col-right.png')
}

.tabler-wrapper {
    background-color: #fff;
    display: inline-block;
    box-shadow: 2.5px 4.33px 10px 0px rgba( 0, 0, 0 , 0.2);
}
